<% content_for(Oktopartial.key_of_content_for_css || :css) do -%>
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/stylesheets/oktopartial.css" />
<% end -%>
<%= render :partial => 'oktopartial/menu' %>

<div class="oktopartial_layout2_publication_main">
  <p>
    <b>Source path:</b>
    <%=h @publication.source_path %>
    <%= link_to 'download', {:action => :download, :id => @publication.id} %>
  </p>
  <p>
    <b>Dirname:</b>
    <%=h @publication.dirname %>
  </p>
  <p>
    <b>Published at:</b>
    <%=h @publication.published_at %>
  </p>
  <div style="float:left;">
    <b>Status:</b>
    <%=h @publication.status_name %>
  </div>
  <%= render :partial => 'oktopartial/publications/actions', :locals => {:publication => @publication} %>

  <%= link_to 'Edit', :action => :edit, :id => @publication.id %> |
  <%= link_to 'Back', :action => :index %>
</div>

<% unless @publication.error_messages.blank? -%>
<br class="oktopartial_clear"/>
<pre><%= @publication.error_messages %></pre>
<% end -%>

<% unless @publication.entry_paths.empty? -%>
  <div class="oktopartial_layout2_publication_list">
    <ul>
      <%- @publication.entry_paths.each do |entry_path| -%>
        <li><%= link_to(entry_path, {:action => :preview, :id => @publication.id, :path => entry_path}, :target => :preview) %>
      <%- end -%>
  </div>
<% end -%>
